.border-blue {
  border: 1px solid blue;
  padding: 1em;
  margin: 1em;
}
.border-green {
  border: 1px solid green;
  padding: 1em;
  margin: 1em;
}
.border-white {
  border: 1px solid white;
  padding: 1em;
  margin: 1em;
}
.border-red {
  border: 1px solid red;
  padding: 1em;
  margin: 1em;
}
.border-yellow {
  border: 1px solid yellow;
  padding: 1em;
  margin: 1em;
}
.border-black {
  border: 1px solid black;
  padding: 1em;
  margin: 1em;
}
.flexbox-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin: auto;
}
.block-centered {
  margin: auto;
  width: fit-content;
}

main {
  text-align: center;
}

button {
  margin: 0.25em;
}
